/* Variables */

/* Font */
$font--roboto:  'Roboto', sans-serif;

$font--primary: $font--roboto;

/* Breakpoints */
$mobile: 480px;
$phablet: 600px;
$tablet: 768px;
$desktop: 1024px;
$desktop-hd: 1280px;
$large: 1400px;
$big: 1600px;

/* Typo */
$font-size--text: 16px;

/* Colors */
$color--green: #26b157;
$color--text-primary: #808080;
$color--text-light: #fff;
$color--gray: #bdbdbd;
$color--gray-light: #ececec;
$color--white: #fff;
$color--black: #000;
$color--red: red;

$color--text: $color--text-primary;

/* Misc */
$line-height: 1.42857142857143;
$unit-spacing: 15px;
